@media (min-width: 431px) {

body{
  margin: 0%;
  width: calc(1920/1920*100vw);
  height: calc(1080/1080*100vh);
  position: relative;
  font-family: 'MyriadProRegular';
    }
    @font-face {
        font-family: 'MyriadProLight';
        src: url('/fuentes/MyriadProLight.otf') format('truetype');
      }
      @font-face {
        font-family: 'MyriadProRegular';
        src: url('/fuentes/MyriadProRegular.ttf') format('truetype');
      }

section.container2{
  position: absolute;
  width: 100%;
  height: 10%;
  animation: cont2 0.4s forwards;
  animation-delay: 6s;
  opacity: 1;
}

#navegador li{
  display: inline;
  font-weight: bold;
  font-size: 1.25vw;
  align-items: center;
 
}

#navegador li:nth-child(1) img {
 padding: 0.2% 0% 0.2% 5%;
  text-decoration: none;
  color: black;
  vertical-align: middle;
  width:1.5vw;
}
#navegador li:nth-child(1) a {
 padding: 0.2% 0% 0.2% 0.8%;
 text-decoration: none;
 color: black;
 vertical-align: middle;
}

#navegador li:nth-child(2) img {
 padding: 0.2% 0% 0.2% 7.0%;
 text-decoration: none;
 color: black;
 vertical-align: middle;
 width:1.5vw;

} 

#navegador li:nth-child(2) a {
 padding: 0.2% 0% 0.2% 0.8%;
 text-decoration: none;
 color: black;
 vertical-align: middle;
}

#navegador li:nth-child(3) img {
 padding: 0.2% 0% 0.2% 7%;
 text-decoration: none;
 color: black;
 vertical-align: middle;
 width:1.5vw;

}

#navegador li:nth-child(3) a {
 padding: 0.2% 0% 0.2% 0.8%;
 text-decoration: none;
 color: black;
 vertical-align: middle;
}

#navegador li:nth-child(4) img {
 padding: 0.2% 0% 0.2% 7%;
 text-decoration: none;
 vertical-align: middle;
 width:2.0vw;
}

#navegador li:nth-child(5) img {
 padding: 0.2% 0% 0.2% 12%;
 text-decoration: none;
 color: black;
 vertical-align: middle;
 width:1.5vw;
} 

#navegador li:nth-child(5) a {
 padding: 0.2% 0% 0.2% 0.8%;
 text-decoration: none;
 color: black;
 vertical-align: middle;
}

#navegador li:nth-child(6) img {
 padding: 0.2% 0% 0.2% 7%;
  text-decoration: none;
  color: black;
  vertical-align: middle;
  width:1.5vw;

} 

#navegador li:nth-child(6) a {
 padding: 0.2% 0% 0.2% 0.8%;
  text-decoration: none;
  color: black;
  vertical-align: middle;
}

#navegador li:nth-child(7) img {
    position: absolute;
    transform: translate(3vw,1.5vh);
     text-decoration: none;
     color: black;
     vertical-align: middle;
     width:1.2vw;
    } 
    
    #navegador li:nth-child(8) img {
      position: absolute;
    transform: translate(5.5vw,1.5vh);
     text-decoration: none;
     color: black;
     vertical-align: middle;
     width:1.2vw;
    } 
    
    #navegador li:nth-child(9) img {
      transform: translate(8vw,0.1vh);
      position: absolute;
      text-decoration: none;
       vertical-align: middle;
      width:3vw;
    
    }
#navegador li a:hover {
 color: #FF7221;
}
p{
 font-size: 2vw;
 text-align: center;
}
section.container3{
  position: absolute;
  width: calc(1920/1920*100vw);
  height: calc(1080/1080*91vh);
  top: 9vh;
  animation: cont2 0.4s forwards;
  animation-delay: 6s;
  opacity: 1;
}
div.Panel1{

  position: relative;
  transform: translate(9vw,0vh);
  width: 80vw;
  height: auto;
}
#indicadores{

  font-size: 5vb;
  
}
#Visualizacion{

  font-size: 2.5vb;
  transform: translate(0vw,-4.5vh);
}
#Informacion{
  position: absolute;
  width: calc(1920/1920 *88.5vw) ;
  height: calc(1080/1080*8.5vh);
  transform: translate(0vw,-5vh);
}
#Informacion li{ 
  position: absolute;
  display: inline;
  font-weight: bold;
  font-size: 1.2vw;
  font-family: 'Miright';
  
 }
 #Informacion li:nth-child(1) {
  position: absolute;
  transform: translate(3.5vw,0vh);
  text-decoration: none;
  color: rgb(7, 6, 6);
  vertical-align: middle;
 }
 #Informacion li:nth-child(2) {
  position: absolute;
  transform: translate(17vw,0vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Informacion li:nth-child(3) {
  position: absolute;
  transform: translate(26vw,0vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Informacion li:nth-child(4) {
  position: absolute;
  transform: translate(33vw,0vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Informacion li:nth-child(5) {
  position: absolute;
  transform: translate(42.5vw,0vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Informacion li:nth-child(6) {
  position: absolute;
  transform: translate(56.5vw,0vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Informacion li:nth-child(7) {
  position: absolute;
  transform: translate(64vw,0vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Informacion li:nth-child(8) {
  position: absolute;
  transform: translate(73vw,0vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Informacion li:nth-child(9) {
  position: absolute;
  transform: translate(85vw,0vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 
 #D3{
  
  position: absolute;
  transform: translate(10vh);
  width: calc(1920/1920*88.5vw);
  height: calc(1080/1080*8.5vh);
  border-radius: 5.2vh;
  border:0.1vh solid black ;
  transform: translate(4vw);
 
 }
 #D3 li{
  display: inline;
  font-weight: bold;
  font-size: 1.1vw;
  align-items: center;
  font-family: 'Milight';
}
#D3 li:nth-child(1) {
  position: absolute;
  transform: translate(0vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #D3 li:nth-child(2) {
  position: absolute;
  transform: translate(12vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #D3 li:nth-child(3) {
  position: absolute;
  transform: translate(24vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #D3 li:nth-child(4) {
  position: absolute;
  transform: translate(30.5vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #D3 li:nth-child(5) {
  position: absolute;
  transform: translate(42.5vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #D3 li:nth-child(6) {
  position: absolute;
  transform: translate(52.6vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #D3 li:nth-child(7) {
  position: absolute;
  transform: translate(61.5vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }

 #D3 li:nth-child(9) {
  position: absolute;
  transform: translate(79.5vw,-8.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Galeon{
  position: absolute;
 
  width: calc(1920/1920*88.5vw);
  height: calc(1080/1080*8.5vh);
  border-radius: 5.2vh;
  border:0.1vh solid black ;
  transform: translate(4vw,10vh);
 }
 
 #Galeon li{
  display: inline;
  font-weight: bold;
  font-size: 1.1vw;
  
  font-family: 'Milight';
}
#Galeon li:nth-child(1) {
  position: absolute;
  transform: translate(0vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Galeon li:nth-child(2) {
  position: absolute;
  transform: translate(12vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Galeon li:nth-child(3) {
  position: absolute;
  transform: translate(24vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Galeon li:nth-child(4) {
  position: absolute;
  transform: translate(30.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Galeon li:nth-child(5) {
  position: absolute;
  transform: translate(42.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Galeon li:nth-child(6) {
  position: absolute;
  transform: translate(52.6vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Galeon li:nth-child(7) {
  position: absolute;
  transform: translate(61.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }

 #Galeon li:nth-child(9) {
  position: absolute;
  transform: translate(80.5vw,-8.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }




 #Privados{
  position: absolute;
  width: calc(1920/1920*88.5vw);
  height: calc(1080/1080*8.5vh);
  border-radius: 5.2vh;
  border:0.1vh solid black ;
  transform: translate(4vw,20vh);
 }
 
 #Privados li{
  display: inline;
  font-weight: bold;
  font-size: 1.1vw;
  font-family: 'Milight';
}
#Privados li:nth-child(1) {
  position: absolute;
  transform: translate(0vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Privados li:nth-child(2) {
  position: absolute;
  transform: translate(12vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Privados li:nth-child(3) {
  position: absolute;
  transform: translate(24vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Privados li:nth-child(4) {
  position: absolute;
  transform: translate(30.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Privados li:nth-child(5) {
  position: absolute;
  transform: translate(42.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Privados li:nth-child(6) {
  position: absolute;
  transform: translate(52.6vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Privados li:nth-child(7) {
  position: absolute;
  transform: translate(61.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }

 #Privados li:nth-child(9) {
  position: absolute;
  transform: translate(79.5vw,-8.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }




#Electrodomesticos{
  position: absolute;
  width: calc(1920/1920*88.5vw);
  height: calc(1080/1080*8.5vh);
  border-radius: 5.2vh;
  border:0.1vh solid black ;
  transform: translate(4vw,30vh);
 }
 
 #Electrodomesticos li{
  display: inline;
  font-weight: bold;
  font-size: 1.1vw;
  font-family: 'Milight';
}
#Electrodomesticos li:nth-child(1) {
  position: absolute;
  transform: translate(0vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Electrodomesticos li:nth-child(2) {
  position: absolute;
  transform: translate(12vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Electrodomesticos li:nth-child(3) {
  position: absolute;
  transform: translate(24vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Electrodomesticos li:nth-child(4) {
  position: absolute;
  transform: translate(30.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Electrodomesticos li:nth-child(5) {
  position: absolute;
  transform: translate(42.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Electrodomesticos li:nth-child(6) {
  position: absolute;
  transform: translate(52.6vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Electrodomesticos li:nth-child(7) {
  position: absolute;
  transform: translate(61.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }

 #Electrodomesticos li:nth-child(9) {
  position: absolute;
  transform: translate(79.5vw,-8.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 
#Estrato{
  position: absolute;
  transform: translate(10vh);
  width: calc(1920/1920*88.5vw);
  height: calc(1080/1080*8.5vh);
  border-radius: 5.2vh;
  border:0.1vh solid black ;
  transform: translate(4vw,40vh);
 }
  
 #Estrato li{
  display: inline;
  font-weight: bold;
  font-size: 1.1vw;
  font-family: 'Milight';
}
#Estrato li:nth-child(1) {
  position: absolute;
  transform: translate(0vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Estrato li:nth-child(2) {
  position: absolute;
  transform: translate(12vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Estrato li:nth-child(3) {
  position: absolute;
  transform: translate(24vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Estrato li:nth-child(4) {
  position: absolute;
  transform: translate(30.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Estrato li:nth-child(5) {
  position: absolute;
  transform: translate(42.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Estrato li:nth-child(6) {
  position: absolute;
  transform: translate(52.6vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Estrato li:nth-child(7) {
  position: absolute;
  transform: translate(61.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }

 #Estrato li:nth-child(9) {
  position: absolute;
  transform: translate(79.5vw,-8.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Jovenes{
  position: absolute;
  transform: translate(10vh);
  width: calc(1920/1920*88.5vw);
  height: calc(1080/1080*8.5vh);
  border-radius: 5.2vh;
  border:0.1vh solid black ;
  transform: translate(4vw,50vh);
 }
 #Jovenes li{
  display: inline;
  font-weight: bold;
  font-size: 1.1vw;
  font-family: 'Milight';
}
#Jovenes li:nth-child(1) {
  position: absolute;
  transform: translate(0vw,1.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Jovenes li:nth-child(2) {
  position: absolute;
  transform: translate(12vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Jovenes li:nth-child(3) {
  position: absolute;
  transform: translate(24vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Jovenes li:nth-child(4) {
  position: absolute;
  transform: translate(30.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Jovenes li:nth-child(5) {
  position: absolute;
  transform: translate(42.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Jovenes li:nth-child(6) {
  position: absolute;
  transform: translate(52.6vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #Jovenes li:nth-child(7) {
  position: absolute;
  transform: translate(61.5vw,1.8vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }

 #Jovenes li:nth-child(9) {
  position: absolute;
  transform: translate(79.5vw,-8.5vh);
  text-decoration: none;
  color: black;
  vertical-align: middle;
 }
 #button-panel{
  width: 20vw;
  height: 8vh;
  border-radius: 2vw;
  transform: translate(40vw,60vh);
  background-color: #FF7221;
  color: white;
  border-left: none;
  border-right: none;
  border-top:none;
  border-bottom: none;
  font-size: 2.5vb;
}
img.int1{
  position: absolute;
  transform: translate(93vw,2.5vh);
  width: 2vw;
  height: 3vh;
}
img.int2{
  position: absolute;
  transform: translate(93vw,12.5vh);
  width: 2vw;
  height: 3vh;
}
img.int3{
  position: absolute;
  transform: translate(93vw,22.5vh);
  width: 2vw;
  height: 3vh;
}
img.int4{
  position: absolute;
  transform: translate(93vw,32.5vh);
  width: 2vw;
  height: 3vh;
}
img.int5{
  position: absolute;
  transform: translate(93vw,42.5vh);
  width: 2vw;
  height: 3vh;
}
img.int6{
  position: absolute;
  transform: translate(93vw,52.5vh);
}

#D3 circle{
  display: block;
  position: absolute;
  fill: none;
  stroke: rgb(184, 184, 187);
  stroke-width: 0.3vw;
  stroke-dasharray: 100 100;
  transform: rotate(-90deg) translate(0vh,8vw) ;
  transform-origin: 0vh; 
  display: block;
  
}
#D3 circle:nth-child(2){
  
  stroke-dasharray: var(--porcentaje) 100;
  stroke: blue;
  stroke-width: 0.35vw;
  animation: rellenar 2s linear forwards;
  transform-origin: 0vh;
  
}

#D3 .porcentaje svg{
  position: absolute;
 height: 100%;
 width: 100%;
 
}
#D3 .porcentaje{
  position: relative;
  width: calc(1920/1920*10vw);
  height: calc(1920/1920*11vh) ;
  transform: translate(67.5vw,-2.5vh);
}
#D3 .porcentaje span{
  position: absolute;
  transform: translate(3.5vw,4vh);
  font-size: 2vh;
}

#Galeon circle{
  position: absolute;
  fill: none;
  stroke: rgb(184, 184, 187);
  stroke-width: 0.3vw;
  stroke-dasharray: 100 100;
  transform: rotate(-90deg) translate(0vh,8vw) ;
  transform-origin: 0vh; 
  
  
}
#Galeon circle:nth-child(2){
  
  stroke-dasharray: var(--porcentaje) 100;
  stroke: blue;
  stroke-width: 0.35vw;
  animation: rellenar 2s linear forwards;
  transform-origin: 0vh;
  
}

#Galeon .porcentaje svg{
  position: absolute;
 height: 100%;
 width: 100%;
 
}
#Galeon .porcentaje{
  position: relative;
  width: calc(1920/1920*15vw);
  height: calc(1920/1920*10vh) ;
  transform: translate(67.5vw,-2.5vh);
}
#Galeon .porcentaje span{
  position: absolute;
  transform: translate(4.5vw,4vh);
  font-size: 2.2vh;
}

#Privados circle{
  position: absolute;
  fill: none;
  stroke: rgb(184, 184, 187);
  stroke-width: 0.3vw;
  stroke-dasharray: 100 100;
  transform: rotate(-90deg) translate(0vh,8vw) ;
  transform-origin: 0vh;
  
}
#Privados circle:nth-child(2){
  
  stroke-dasharray: var(--porcentaje) 100;
  stroke: blue;
  stroke-width: 0.35vw;
  animation: rellenar 2s linear forwards;
  transform-origin: 0vh;
  
}

#Privados .porcentaje svg{
 position: absolute;
 height: 100%;
 width: 100%;
 
}
#Privados .porcentaje{
  position: relative;
  width: calc(1920/1920*15vw);
  height: calc(1920/1920*10vh) ;
  transform: translate(67.5vw,-2.5vh);
}
#Privados .porcentaje span{
  position: absolute;
  transform: translate(3.5vw,4vh);
  font-size: 2vh;
}

#Electrodomesticos circle{
  position: absolute;
  fill: none;
  stroke: rgb(184, 184, 187);
  stroke-width: 0.3vw;
  stroke-dasharray: 100 100;
  transform: rotate(-90deg) translate(0vh,8vw) ;
  transform-origin: 0vh;
  
}
#Electrodomesticos circle:nth-child(2){
  
  stroke-dasharray: var(--porcentaje) 100;
  stroke: blue;
  stroke-width: 0.35vw;
  animation: rellenar 2s linear forwards;
  transform-origin: 0vh;
  
}

#Electrodomesticos .porcentaje svg{
 position: absolute;
 height: 100%;
 width: 100%;
 
}
#Electrodomesticos .porcentaje{
  position: relative;
  width: calc(1920/1920*15vw);
  height: calc(1920/1920*10vh) ;
  transform: translate(67.5vw,-2.5vh);
}
#Electrodomesticos .porcentaje span{
  position: absolute;
  transform: translate(4.5vw,4vh);
  font-size: 2.2vh;
}

#Estrato circle{
  position: absolute;
  fill: none;
  stroke: rgb(184, 184, 187);
  stroke-width: 0.3vw;
  stroke-dasharray: 100 100;
  transform: rotate(-90deg) translate(0vh,8vw) ;
  transform-origin: 0vh;
  
}
#Estrato circle:nth-child(2){
  
  stroke-dasharray: var(--porcentaje) 100;
  stroke: blue;
  stroke-width: 0.35vw;
  animation: rellenar 2s linear forwards;
  transform-origin: 0vh;
  
}

#Estrato .porcentaje svg{
 position: absolute;
 height: 100%;
 width: 100%;
 
}
#Estrato .porcentaje{
  position: relative;
  width: calc(1920/1920*15vw);
  height: calc(1920/1920*10vh) ;
  transform: translate(67.5vw,-2.5vh);
}

#Estrato .porcentaje span{
  position: absolute;
  transform: translate(4.5vw,4vh);
  font-size: 2.2vh;
}

#Jovenes circle{
  position: absolute;
  fill: none;
  stroke: rgb(184, 184, 187);
  stroke-width: 0.3vw;
  stroke-dasharray: 100 100;
  transform: rotate(-90deg) translate(0vh,8vw) ;
  transform-origin: 0vh;
  
}
#Jovenes circle:nth-child(2){
  
  stroke-dasharray: var(--porcentaje) 100;
  stroke: blue;
  stroke-width: 0.35vw;
  animation: rellenar 2s linear forwards;
  transform-origin: 0vh;
  
}

#Jovenes .porcentaje svg{
 position: absolute;
 height: 100%;
 width: 100%;
 
}
#Jovenes .porcentaje{
  position: relative;
  width: calc(1920/1920*15vw);
  height: calc(1920/1920*10vh) ;
  transform: translate(67.5vw,-2.5vh);
}
#Jovenes .porcentaje span{
  position: absolute;
  transform: translate(4.5vw,4vh);
  font-size: 2.2vh;
}

.menu{
  width: 0px;
  height: 0px;
  color: white;
}
.menu-icon{
  display: none;
 }
@keyframes rellenar{
  to{
      stroke-dasharray: var(--porcentaje) 100;
  }
}

#overlay-menu {
  display: none;
  position: fixed;
  top: 6vw; 
  right: 1vw; 
  width: 15vw; 
  height: 40vh; 
  background-color: white; 
  border: 2px solid black; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  z-index: 998; 
  border-radius: 2vw;
}

.menu:checked ~ #overlay-menu {
  display: block; 
}

#navegador ul li:last-child label img {
  position: relative; 
  z-index: 999;
}

img.pedrito{
  width: 5vw;
}


.boton-cerrar {
  width: 6vw;
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF721B;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease; 
  font-size: 1vw;
}

.boton-perfil {
  width: 6vw;
  display: inline-block;
  padding: 10px 20px;
  background-color: #8c8c8c;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease; 
  font-size: 1vw;
}

.boton-cerrar:hover {
  background-color: darkorange; /* Cambia el color de fondo al pasar el cursor por encima */
}
}










































@media (max-width: 430px){

  body{
    margin: 0%;
    width: calc(1920/1920*100vw);
    height: calc(1080/1080*100vh);
    position: relative;
    font-family: 'Milight','Miright';
  }
  
  @font-face {
    font-family: 'Milight';
    src: url('../escritura/myriadpro-light.otf') format('woff')
        
  }
  
  @font-face{
    font-family: 'Miright';
    src: url('../escritura/MyriadPro-Regular.otf0') format('woff') ;
  }
  
  section.container2 {
    position: relative;
}

#navegador {
    text-align: center;
}

#navegador ul {
    padding: 0;
    list-style-type: none;
}

#navegador ul li {
    display: inline;
    font-weight: bold;
    font-size: 16px;
    margin: 0 10px;
}

#navegador ul li img {
    vertical-align: middle;
    width: 20px;
}

#navegador ul li a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
    margin-left: 5px;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    cursor: pointer;
}

#navegador ul {
    display: none;
}

#navegador ul li:nth-child(4) {
  display: none;
}

#navegador ul li:nth-child(7) {
display: none;
}

#navegador ul li:nth-child(8) {
display: none;
}

#menu-toggle:checked + .menu-icon + #navegador ul {
    display: block;
}

@media screen and (min-width: 600px) {
    #navegador ul {
        display: block;
    }
    .menu-icon {
        display: none;
    }
}

    #menu-btn:checked + #navegador ul {
        display: block;
    }

    #navegador ul li {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    #menu-icon {
        display: block;
    }
  
  p{
   font-size: 2vw;
   text-align: center;
  }
  section.container3{
    position: absolute;
    width: calc(1920/1920*100vw);
    height: calc(1080/1080*91vh);
    top: 9vh;
    animation: cont2 0.4s forwards;
    animation-delay: 6s;
    opacity: 1;
  }
  div.Panel1{
    font-family: 'Miright','Milight';
    position: relative;
    transform: translate(9vw,0vh);
    width: 80vw;
    height: auto;
  }
  #indicadores{
    font-family: 'Miright';
    font-size: 5vb;
    
  }
  #Visualizacion{
    font-family: 'Milight';
    font-size: 2.5vb;
    transform: translate(0vw,-4.5vh);
  }
  #Informacion{
    position: absolute;
    width: calc(1920/1920 *88.5vw) ;
    height: calc(1080/1080*8.5vh);
    transform: translate(0vw,-5vh);
  }
  #Informacion li{ 
    position: absolute;
    display: inline;
    font-weight: bold;
    font-size: 1.2vw;
    font-family: 'Miright';
    
   }
   #Informacion li:nth-child(1) {
    position: absolute;
    transform: translate(3.5vw,0vh);
    text-decoration: none;
    color: rgb(7, 6, 6);
    vertical-align: middle;
   }
   #Informacion li:nth-child(2) {
    position: absolute;
    transform: translate(17vw,0vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Informacion li:nth-child(3) {
    position: absolute;
    transform: translate(26vw,0vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Informacion li:nth-child(4) {
    position: absolute;
    transform: translate(33vw,0vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Informacion li:nth-child(5) {
    position: absolute;
    transform: translate(42.5vw,0vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Informacion li:nth-child(6) {
    position: absolute;
    transform: translate(56.5vw,0vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Informacion li:nth-child(7) {
    position: absolute;
    transform: translate(64vw,0vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Informacion li:nth-child(8) {
    position: absolute;
    transform: translate(73vw,0vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Informacion li:nth-child(9) {
    position: absolute;
    transform: translate(85vw,0vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   
   #D3{
    
    position: absolute;
    transform: translate(10vh);
    width: calc(1920/1920*88.5vw);
    height: calc(1080/1080*8.5vh);
    border-radius: 5.2vh;
    border:0.1vh solid black ;
    transform: translate(4vw);
   
   }
   #D3 li{
    display: inline;
    font-weight: bold;
    font-size: 1.1vw;
    align-items: center;
    font-family: 'Milight';
  }
  #D3 li:nth-child(1) {
    position: absolute;
    transform: translate(0vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #D3 li:nth-child(2) {
    position: absolute;
    transform: translate(12vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #D3 li:nth-child(3) {
    position: absolute;
    transform: translate(24vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #D3 li:nth-child(4) {
    position: absolute;
    transform: translate(30.5vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #D3 li:nth-child(5) {
    position: absolute;
    transform: translate(42.5vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #D3 li:nth-child(6) {
    position: absolute;
    transform: translate(52.6vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #D3 li:nth-child(7) {
    position: absolute;
    transform: translate(61.5vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
  
   #D3 li:nth-child(9) {
    position: absolute;
    transform: translate(79.5vw,-8.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Galeon{
    position: absolute;
   
    width: calc(1920/1920*88.5vw);
    height: calc(1080/1080*8.5vh);
    border-radius: 5.2vh;
    border:0.1vh solid black ;
    transform: translate(4vw,10vh);
   }
   
   #Galeon li{
    display: inline;
    font-weight: bold;
    font-size: 1.1vw;
    
    font-family: 'Milight';
  }
  #Galeon li:nth-child(1) {
    position: absolute;
    transform: translate(0vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Galeon li:nth-child(2) {
    position: absolute;
    transform: translate(12vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Galeon li:nth-child(3) {
    position: absolute;
    transform: translate(24vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Galeon li:nth-child(4) {
    position: absolute;
    transform: translate(30.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Galeon li:nth-child(5) {
    position: absolute;
    transform: translate(42.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Galeon li:nth-child(6) {
    position: absolute;
    transform: translate(52.6vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Galeon li:nth-child(7) {
    position: absolute;
    transform: translate(61.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
  
   #Galeon li:nth-child(9) {
    position: absolute;
    transform: translate(80.5vw,-8.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
  
  
  
  
   #Privados{
    position: absolute;
    width: calc(1920/1920*88.5vw);
    height: calc(1080/1080*8.5vh);
    border-radius: 5.2vh;
    border:0.1vh solid black ;
    transform: translate(4vw,20vh);
   }
   
   #Privados li{
    display: inline;
    font-weight: bold;
    font-size: 1.1vw;
    font-family: 'Milight';
  }
  #Privados li:nth-child(1) {
    position: absolute;
    transform: translate(0vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Privados li:nth-child(2) {
    position: absolute;
    transform: translate(12vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Privados li:nth-child(3) {
    position: absolute;
    transform: translate(24vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Privados li:nth-child(4) {
    position: absolute;
    transform: translate(30.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Privados li:nth-child(5) {
    position: absolute;
    transform: translate(42.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Privados li:nth-child(6) {
    position: absolute;
    transform: translate(52.6vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Privados li:nth-child(7) {
    position: absolute;
    transform: translate(61.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
  
   #Privados li:nth-child(9) {
    position: absolute;
    transform: translate(79.5vw,-8.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
  
  
  
  
  #Electrodomesticos{
    position: absolute;
    width: calc(1920/1920*88.5vw);
    height: calc(1080/1080*8.5vh);
    border-radius: 5.2vh;
    border:0.1vh solid black ;
    transform: translate(4vw,30vh);
   }
   
   #Electrodomesticos li{
    display: inline;
    font-weight: bold;
    font-size: 1.1vw;
    font-family: 'Milight';
  }
  #Electrodomesticos li:nth-child(1) {
    position: absolute;
    transform: translate(0vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Electrodomesticos li:nth-child(2) {
    position: absolute;
    transform: translate(12vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Electrodomesticos li:nth-child(3) {
    position: absolute;
    transform: translate(24vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Electrodomesticos li:nth-child(4) {
    position: absolute;
    transform: translate(30.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Electrodomesticos li:nth-child(5) {
    position: absolute;
    transform: translate(42.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Electrodomesticos li:nth-child(6) {
    position: absolute;
    transform: translate(52.6vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Electrodomesticos li:nth-child(7) {
    position: absolute;
    transform: translate(61.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
  
   #Electrodomesticos li:nth-child(9) {
    position: absolute;
    transform: translate(79.5vw,-8.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   
  #Estrato{
    position: absolute;
    transform: translate(10vh);
    width: calc(1920/1920*88.5vw);
    height: calc(1080/1080*8.5vh);
    border-radius: 5.2vh;
    border:0.1vh solid black ;
    transform: translate(4vw,40vh);
   }
    
   #Estrato li{
    display: inline;
    font-weight: bold;
    font-size: 1.1vw;
    font-family: 'Milight';
  }
  #Estrato li:nth-child(1) {
    position: absolute;
    transform: translate(0vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Estrato li:nth-child(2) {
    position: absolute;
    transform: translate(12vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Estrato li:nth-child(3) {
    position: absolute;
    transform: translate(24vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Estrato li:nth-child(4) {
    position: absolute;
    transform: translate(30.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Estrato li:nth-child(5) {
    position: absolute;
    transform: translate(42.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Estrato li:nth-child(6) {
    position: absolute;
    transform: translate(52.6vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Estrato li:nth-child(7) {
    position: absolute;
    transform: translate(61.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
  
   #Estrato li:nth-child(9) {
    position: absolute;
    transform: translate(79.5vw,-8.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Jovenes{
    position: absolute;
    transform: translate(10vh);
    width: calc(1920/1920*88.5vw);
    height: calc(1080/1080*8.5vh);
    border-radius: 5.2vh;
    border:0.1vh solid black ;
    transform: translate(4vw,50vh);
   }
   #Jovenes li{
    display: inline;
    font-weight: bold;
    font-size: 1.1vw;
    font-family: 'Milight';
  }
  #Jovenes li:nth-child(1) {
    position: absolute;
    transform: translate(0vw,1.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Jovenes li:nth-child(2) {
    position: absolute;
    transform: translate(12vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Jovenes li:nth-child(3) {
    position: absolute;
    transform: translate(24vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Jovenes li:nth-child(4) {
    position: absolute;
    transform: translate(30.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Jovenes li:nth-child(5) {
    position: absolute;
    transform: translate(42.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Jovenes li:nth-child(6) {
    position: absolute;
    transform: translate(52.6vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #Jovenes li:nth-child(7) {
    position: absolute;
    transform: translate(61.5vw,1.8vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
  
   #Jovenes li:nth-child(9) {
    position: absolute;
    transform: translate(79.5vw,-8.5vh);
    text-decoration: none;
    color: black;
    vertical-align: middle;
   }
   #button-panel{
    width: 20vw;
    height: 8vh;
    border-radius: 2vw;
    transform: translate(40vw,60vh);
    background-color: #FF7221;
    color: white;
    border-left: none;
    border-right: none;
    border-top:none;
    border-bottom: none;
    font-size: 2.5vb;
  }
  img.int1{
    position: absolute;
    transform: translate(93vw,2.5vh);
    width: 2vw;
    height: 3vh;
  }
  img.int2{
    position: absolute;
    transform: translate(93vw,12.5vh);
    width: 2vw;
    height: 3vh;
  }
  img.int3{
    position: absolute;
    transform: translate(93vw,22.5vh);
    width: 2vw;
    height: 3vh;
  }
  img.int4{
    position: absolute;
    transform: translate(93vw,32.5vh);
    width: 2vw;
    height: 3vh;
  }
  img.int5{
    position: absolute;
    transform: translate(93vw,42.5vh);
    width: 2vw;
    height: 3vh;
  }
  img.int6{
    position: absolute;
    transform: translate(93vw,52.5vh);
  }
  
  #D3 circle{
    display: block;
    position: absolute;
    fill: none;
    stroke: rgb(184, 184, 187);
    stroke-width: 0.3vw;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg) translate(0vh,8vw) ;
    transform-origin: 0vh; 
    display: block;
    
  }
  #D3 circle:nth-child(2){
    
    stroke-dasharray: var(--porcentaje) 100;
    stroke: blue;
    stroke-width: 0.35vw;
    animation: rellenar 2s linear forwards;
    transform-origin: 0vh;
    
  }
  
  #D3 .porcentaje svg{
    position: absolute;
   height: 100%;
   width: 100%;
   
  }
  #D3 .porcentaje{
    position: relative;
    width: calc(1920/1920*10vw);
    height: calc(1920/1920*11vh) ;
    transform: translate(67.5vw,-2.5vh);
  }
  #D3 .porcentaje span{
    position: absolute;
    transform: translate(3.5vw,4vh);
    font-size: 2vh;
  }
  
  #Galeon circle{
    position: absolute;
    fill: none;
    stroke: rgb(184, 184, 187);
    stroke-width: 0.3vw;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg) translate(0vh,8vw) ;
    transform-origin: 0vh; 
    
    
  }
  #Galeon circle:nth-child(2){
    
    stroke-dasharray: var(--porcentaje) 100;
    stroke: blue;
    stroke-width: 0.35vw;
    animation: rellenar 2s linear forwards;
    transform-origin: 0vh;
    
  }
  
  #Galeon .porcentaje svg{
    position: absolute;
   height: 100%;
   width: 100%;
   
  }
  #Galeon .porcentaje{
    position: relative;
    width: calc(1920/1920*15vw);
    height: calc(1920/1920*10vh) ;
    transform: translate(67.5vw,-2.5vh);
  }
  #Galeon .porcentaje span{
    position: absolute;
    transform: translate(4.5vw,4vh);
    font-size: 2.2vh;
  }
  
  #Privados circle{
    position: absolute;
    fill: none;
    stroke: rgb(184, 184, 187);
    stroke-width: 0.3vw;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg) translate(0vh,8vw) ;
    transform-origin: 0vh;
    
  }
  #Privados circle:nth-child(2){
    
    stroke-dasharray: var(--porcentaje) 100;
    stroke: blue;
    stroke-width: 0.35vw;
    animation: rellenar 2s linear forwards;
    transform-origin: 0vh;
    
  }
  
  #Privados .porcentaje svg{
   position: absolute;
   height: 100%;
   width: 100%;
   
  }
  #Privados .porcentaje{
    position: relative;
    width: calc(1920/1920*15vw);
    height: calc(1920/1920*10vh) ;
    transform: translate(67.5vw,-2.5vh);
  }
  #Privados .porcentaje span{
    position: absolute;
    transform: translate(3.5vw,4vh);
    font-size: 2vh;
  }
  
  #Electrodomesticos circle{
    position: absolute;
    fill: none;
    stroke: rgb(184, 184, 187);
    stroke-width: 0.3vw;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg) translate(0vh,8vw) ;
    transform-origin: 0vh;
    
  }
  #Electrodomesticos circle:nth-child(2){
    
    stroke-dasharray: var(--porcentaje) 100;
    stroke: blue;
    stroke-width: 0.35vw;
    animation: rellenar 2s linear forwards;
    transform-origin: 0vh;
    
  }
  
  #Electrodomesticos .porcentaje svg{
   position: absolute;
   height: 100%;
   width: 100%;
   
  }
  #Electrodomesticos .porcentaje{
    position: relative;
    width: calc(1920/1920*15vw);
    height: calc(1920/1920*10vh) ;
    transform: translate(67.5vw,-2.5vh);
  }
  #Electrodomesticos .porcentaje span{
    position: absolute;
    transform: translate(4.5vw,4vh);
    font-size: 2.2vh;
  }
  
  #Estrato circle{
    position: absolute;
    fill: none;
    stroke: rgb(184, 184, 187);
    stroke-width: 0.3vw;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg) translate(0vh,8vw) ;
    transform-origin: 0vh;
    
  }
  #Estrato circle:nth-child(2){
    
    stroke-dasharray: var(--porcentaje) 100;
    stroke: blue;
    stroke-width: 0.35vw;
    animation: rellenar 2s linear forwards;
    transform-origin: 0vh;
    
  }
  
  #Estrato .porcentaje svg{
   position: absolute;
   height: 100%;
   width: 100%;
   
  }
  #Estrato .porcentaje{
    position: relative;
    width: calc(1920/1920*15vw);
    height: calc(1920/1920*10vh) ;
    transform: translate(67.5vw,-2.5vh);
  }
  
  #Estrato .porcentaje span{
    position: absolute;
    transform: translate(4.5vw,4vh);
    font-size: 2.2vh;
  }
  
  #Jovenes circle{
    position: absolute;
    fill: none;
    stroke: rgb(184, 184, 187);
    stroke-width: 0.3vw;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg) translate(0vh,8vw) ;
    transform-origin: 0vh;
    
  }
  #Jovenes circle:nth-child(2){
    
    stroke-dasharray: var(--porcentaje) 100;
    stroke: blue;
    stroke-width: 0.35vw;
    animation: rellenar 2s linear forwards;
    transform-origin: 0vh;
    
  }
  
  #Jovenes .porcentaje svg{
   position: absolute;
   height: 100%;
   width: 100%;
   
  }
  #Jovenes .porcentaje{
    position: relative;
    width: calc(1920/1920*15vw);
    height: calc(1920/1920*10vh) ;
    transform: translate(67.5vw,-2.5vh);
  }
  #Jovenes .porcentaje span{
    position: absolute;
    transform: translate(4.5vw,4vh);
    font-size: 2.2vh;
  }
  
  
 
  @keyframes rellenar{
    to{
        stroke-dasharray: var(--porcentaje) 100;
    }
  }
  
  .menu-icon{
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-left: 50vw;
  }

  #overlay-menu {
    display: none;
  }
  }